<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragment :: head}"></div>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>
<body>
	<!-- ナビゲーションバー -->
	<div th:replace="~{fragment :: nav}"></div>
	<div class="container-fluid px-3 mt-5">
	    <h2>消費・廃棄履歴</h2>
		<div class="container mt-5">
	        <div class="mb-3">
	            <button type="button" class="btn btn-primary" id="button1" onclick="loadTable('consumption')">消費履歴</button>
	            <button type="button" class="btn btn-secondary" id="button2" onclick="loadTable('waste')">廃棄履歴</button>
	        </div>

	        <div id="table-container">
	        </div>
	    </div>

	</div>
  	
	<!-- フッター -->
	<div th:replace="~{fragment :: footer}"></div>
	<!-- js -->
	<div th:replace="~{fragment :: js}"></div>
  	<script th:src="@{/js/history.js}"></script>
  </body>
</html>
