<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragment :: head}"></div>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>
<body>
	<!-- ナビゲーションバー -->
	<div th:replace="~{fragment :: nav}"></div>
		<div class="container-fluid px-3 mt-5">
	    <h2>食材在庫一覧</h2>
		<div th:if="${successMessage}" class="alert alert-primary" role="alert" th:text="${successMessage}"></div>
	    <div class="text-end mb-3">
	        <a th:href="@{/inventory/register}" class="btn btn-success">追加</a>
	    </div>
	
	    <table class="table table-bordered align-middle">
	        <thead class="table-light text-center">
	            <tr>
	                <th>食材名</th>
					<th>カテゴリー</th>
	                <th>保存方法</th>
	                <th>購入日</th>
	                <th>賞味・消費期限</th>
	                <th>量</th>
	                <th>操作</th>
	            </tr>
	        </thead>
	        <tbody>
				<tr th:each="item : ${inventories}" th:attr="data-id=${item.id}">
				    <td class="name" 
				        th:text="${item.foodMaster.name}" 
				        th:attr="data-original=${item.foodMaster.name}">サンプル名</td>
				    <td class="category" 
				        th:text="${item.foodMaster.category.name}" 
				        th:attr="data-original=${item.foodMaster.category.name}">野菜</td>
					<td class="storageMethod" 
					    th:text="${item.storageMethod}" 
					    th:attr="data-original=${item.storageMethod}">冷蔵</td>
				    <td class="purchaseDate" 
				        th:text="${#temporals.format(item.purchaseDate, 'yyyy-MM-dd')}" 
				        th:attr="data-original=${#temporals.format(item.purchaseDate, 'yyyy-MM-dd')}">2025-04-01</td>
				    <td class="expirationDate" 
				        th:text="${#temporals.format(item.expirationDate, 'yyyy-MM-dd')}" 
				        th:attr="data-original=${#temporals.format(item.expirationDate, 'yyyy-MM-dd')}">2025-04-10</td>
				    <td class="quantity text-end"
				        th:attr="data-original-quantity=${item.quantity}, data-original-unit=${item.foodMaster.unit}">
				        <span th:text="${item.quantity}">1</span>
				        <span class="form-text" th:text="${item.foodMaster.unit}">個</span>
				    </td>
	                <td>
	                    <div class="d-flex gap-1">
	                        <button class="btn btn-sm btn-outline-secondary edit-btn">
	                            <i class="fa-solid fa-pen"></i>
	                        </button>
							<button class="btn btn-sm btn-outline-secondary cancel-btn d-none">
							    <i class="fa-solid fa-xmark"></i>
							</button>
	                        <button class="btn btn-sm btn-primary save-btn d-none">保存</button>
	                        <button class="btn btn-sm btn-warning consume-btn">すべて消費</button>
	                        <button class="btn btn-sm btn-danger discard-btn" type="button" th:data-id="${item.id}" data-bs-toggle="modal" data-bs-target="#discardModal">廃棄</button>
							
	                    </div>
	                </td>
	            </tr>
	        </tbody>
	    </table>
		<!--モーダル-->
		<div class="modal fade" id="discardModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="discardModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h1 class="modal-title fs-5" id="discardModalLabel">廃棄の確認</h1>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
		      </div>
			  <div class="modal-body">
				<label for="discardReason">廃棄の理由を入力してください</label>
  		        <input type="text" name="reason" id="discardReason" class="form-control">
  		      </div>
  		      <div class="modal-footer">
  		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
  		        <button type="button" class="btn btn-danger" id="confirmDiscardBtn">廃棄する</button>
  		      </div>
  		    </div>
  		  </div>
  		</div>
  	</div>
  	
  	<!-- フッター -->
  	<div th:replace="~{fragment :: footer}"></div>
  	<!-- js -->
  	<div th:replace="~{fragment :: js}"></div>
	<script th:src="@{/js/inventory.js}"></script>
  </body>
  </html>
